body {
   font-family: 'Montserrat', sans-serif;
}

#content{
  width: 1100px;
  margin: auto;
  background-color:white;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: teal;
}

.image-thumbnails{
  margin: auto;
  width: 1000px;
  height: 400px;
  background-color: black;
}

#fact-container {
  margin-top: 20px;
}

footer {
    padding: 3px;
    background-color: teal;
}

#projects {
    list-style-type: none;
    padding-left: 0px
}

.up {
    list-style-image: url(images/bullet-right.png);
    list-style-type: none;
}

.down {
    list-style-image: url(images/bullet-down.png);
    list-style-type: none;
}

#courselistf18, #courselists19, #courselistf19, #courselists20  {
    display: none;
    padding-left: 25px;
    list-style-type: none;
    list-style-image: none;
}

a {
    color: teal;
    text-decoration: none;
}

#nomos, #ibm, #studybuddy, #excel {
    list-style-type: circle;
    padding-left: 25px;
}

#galleryimg {
    height: 100%;
    display: block;
    margin: auto;
}

#gallerybuttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    min-height: 10px;
    min-width: 100px;
    margin: 10px;
    font-family: inherit;
}

header {
    height: 50px;
    padding: 3px;
    background-color: teal;
    display: flex;
    align-items: center;
}

 .headerelem {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 50px;
    font-size: 20px;
 }

.footerelem {
    color: white;
    height: 50px;
    padding: 5px 85px;
    border-radius: 52%;
}

#imgofme {
    border-radius: 50%
}

section {
    padding: 20px;
    font-size: 18px;
    min-height: 80vh;
}

.row {
    min-height: 435px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

p {
    margin: 0.5
}