#content {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#fact-container {
  margin-top: 20px;
}

#courselistf18, #courselists19, #courselistf19, #courselists20  {
    display: none;
}